<!DOCTYPE html>
<html>
  <head>
    <title>YaTube</title>
 <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon1.svg') %>"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <meta property="og:title" content="YaTube" />
     <meta property='og:image' content="<%= image_url('yatube_homepage.png') %>"/>
     <meta property="og:description"
       content="YaTube is a pixel-perfect clone of YouTube. 
       Users can view videos uploaded by other users, as well as 
       comment and like on videos."
     />
     <meta property="og:url"
       content="https://yatube-video-app.herokuapp.com/#/"
     />




    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    
      <script type="text/javascript">
       
        window.yatubeLogoURL = "<%= image_url('yatubelogo.png') %>";
        window.userProfile1URL = "<%= image_url('profile1.png') %>";
        window.userProfile2URL = "<%= image_url('profile2.png') %>"
         
      </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


