<!DOCTYPE html>
<html>
  <head>
    <title>YaTube</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    
      <script type="text/javascript">
       
        window.yatubeLogoURL = "<%= image_url('yatubelogo.png') %>";
        window.userProfile1URL = "<%= image_url('profile1.png') %>";
        window.userProfile2URL = "<%= image_url('profile2.png') %>"
         
      </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>


